allure-pytest==2.13.5
allure-python-commons==2.13.5
atomicwrites==1.4.1
attrs==23.2.0
certifi==2024.6.2
cffi==1.16.0
colorama==0.4.6
docutils==0.21.2
enum34==1.1.10
future==1.0.0
h11==0.14.0
idna==3.7
iniconfig==2.0.0
lxml==5.2.2
more-itertools==10.3.0
namedlist==1.8
numpy==2.0.0
outcome==1.3.0.post0
packaging==24.1
pluggy==1.5.0
py==1.11.0
pycparser==2.22
PySocks==1.7.1
pytest==8.2.2
pytest-accept==0.1.10
pytest-addons-test==1.0.8.1
pytest-allclose==1.0.0
pytest-allure-adaptor==1.7.10
pytest-allure-adaptor2==1.8.2
pytest-allure-collection==0.0.5
pytest-allure-dsl==1.0.0
pytest-allure-id2history==0.1.2
pytest-allure-spec-coverage==0.0.2
pytest-Inomaly==0.2.5
PyYAML==6.0.1
scipy==1.14.0
selenium==4.21.0
setuptools==70.2.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
toml==0.10.2
trio==0.25.1
trio-websocket==0.11.1
typing_extensions==4.12.2
urllib3==2.2.2
wcwidth==0.2.13
wheel==0.43.0
wsproto==1.2.0
